html,
body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scrollbar-width: none; /* Firefox */

  font-family: "NOTO SERIF SC SEMIBOLD";
}

body::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

#app {
  width: 100vw;
  /* height: 100vh; */
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app {
  background-image: url("/images/bg.jpg");
  background-repeat: repeat;
  background-size: 100% auto;
  font-family: "Noto Serif SC";
}
